<% content_for :title, "Editing inscricao" %>

<h1>Editing inscricao</h1>

<%= render "form", inscricao: @inscricao %>

<br>

<div>
  <%= link_to "Show this inscricao", @inscricao %> |
  <%= link_to "Back to inscricoes", inscricoes_path %>
</div>
