<p style="color: green"><%= notice %></p>

<% content_for :title, "Palestras" %>

<h1>Palestras</h1>

<div id="palestras">
  <% @palestras.each do |palestra| %>
    <%= render palestra %>
    <p>
      <%= link_to "Show this palestra", palestra %>
    </p>
  <% end %>
</div>

<%= link_to "New palestra", new_palestra_path %>
