<div id="<%= dom_id participante %>">
  <p>
    <strong>Nome:</strong>
    <%= participante.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= participante.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= participante.telefone %>
  </p>

</div>
