<% content_for :title, "Editing participante" %>

<h1>Editing participante</h1>

<%= render "form", participante: @participante %>

<br>

<div>
  <%= link_to "Show this participante", @participante %> |
  <%= link_to "Back to participantes", participantes_path %>
</div>
