<% content_for :title, "New participante" %>

<h1>New participante</h1>

<%= render "form", participante: @participante %>

<br>

<div>
  <%= link_to "Back to participantes", participantes_path %>
</div>
